<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.charland"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <uses-sdk
        android:maxSdkVersion="17"
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity android:name=".tenideas.manage.FirstActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name=".activity.manage.PreferencesActivity" />
        <activity android:name=".tenideas.manage.PersonHomeActivity" />
        <activity android:name=".tenideas.manage.AddANewPersonActivity" />
        <activity android:name=".tenideas.manage.DateValuesEnteredActivity"/>"
        <activity android:name=".tenideas.manage.DateListOfPreviousEntriesActivity" />
        <activity android:name=".tenideas.manage.AllPeopleListActivity" />
        <activity android:name=".tenideas.manage.SingleDateValuesEnteredActivity" />
        <activity android:name=".tenideas.DateAndTimeActivity" />
        <activity android:name=".tenideas.IdeasActivity" />
       
    </application>

</manifest>